*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}
.notif-icon, .user{
    width: 30px;
    display: block;
    border-radius: 50%;
}
.notif-icon, .user:hover{
    cursor: pointer;
}
.notif-icon{
    position: relative;
}
.notif-icon-badge{
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -15px;
    left: -10px;
}
.notif-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-item{
    padding-left: 2rem;  
}

/* Home */
.Home{
    padding-block: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.Home-content{
    width: 45%;
    color: aliceblue;
}
.Home-content h1{
    font-size: 4.6rem;
    font-family:  'Segoe UI';
}
.Home-img{
    width: 48%;
    opacity: 0.8;
}
.Home-img .main-img{
    width: 100%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}
.brand{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.927);
    display: flex;
    justify-content: space-around;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 45%;
}
.brand-name{
    width: 23%;
    padding: 15px;
    
}
/* Media Query */
@media(max-width: 918px) {
    .Home-content h1{
    font-size: 3rem;
}    
}
@media (max-width:678px) {
    .Home{
        flex-direction:column-reverse;
        width: 100%;
        padding-block: 10px;
    }
.Home-img, .Home-content{
    width: 90%;
    margin: 0 5%;
}
    .Home-content h1{
        font-size: 2rem;
        margin-top: 1rem;
    }
 
}

@media (max-width:339px) {
    .Home{
        padding-bottom: 1rem;
    }
    .navbar-toggler{
        display: block;
        float: left;
        margin-top: 1rem;
    }
    
}
@media (max-width: 991px) {
    .user{
    width: 30px;
    display: none;
    border-radius: 50%;
}
    .user2{
    width: 30px;
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 2rem;

}
.notif-wrapper{
    display: none;   
}
    
}
@media (min-width: 991px) {
    
    .user2{
    display: none;
}
.user{
    margin-right: 1rem;
}
}